@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.position-static {
  position: static;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}

.position-inherit {
  position: inherit;
}

.position-initial {
  position: initial;
}

.position-revert {
  position: revert;
}

.position-unset {
  position: unset;
}

.d-block {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.d-inline {
  display: inline;
}

.d-none {
  display: none;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-items-center {
  justify-items: center;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.justify-content-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-items-space-between {
  justify-items: space-between;
}

.align-items-space-between {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.content-space-between {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.justify-content-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-items-space-around {
  justify-items: space-around;
}

.align-items-space-around {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.content-space-around {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.justify-content-space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.justify-items-space-evenly {
  justify-items: space-evenly;
}

.align-items-space-evenly {
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
}

.content-space-evenly {
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.justify-content-flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-items-flex-start {
  justify-items: flex-start;
}

.align-items-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content-flex-start {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.justify-content-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-items-flex-end {
  justify-items: flex-end;
}

.align-items-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.content-flex-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.home {
  height: 100%;
  padding-top: 40vh;
  text-align: center;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("/img/model-1.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("/img/model-1.jpg") center top;
  background-size: cover;
}
.home__name {
  font-size: 5rem;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  margin-bottom: 1.125rem;
  border-bottom: 1px solid #fff;
}
.home__name--last {
  color: #ff652f;
  font-weight: 700;
}
.home .h-btn {
  margin-top: 4rem;
}

@media only screen and (min-width: 1200px) {
  .home footer .social-icons {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.menu-btn {
  z-index: 1;
  right: 1rem;
  top: 1rem;
  width: 28px;
  height: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.menu-btn__hamburger {
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menu-btn__hamburger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menu-btn__hamburger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menu-btn__hamburger.open {
  background: transparent;
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}
.menu-btn__hamburger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}
.menu-btn__hamburger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -6px);
          transform: rotate(-45deg) translate(3px, -6px);
}

.nav {
  top: 0;
  left: 0;
  width: 100vw;
  visibility: hidden;
  opacity: 0.98;
}
.nav.open {
  visibility: visible;
}
.nav-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 100vh;
  overflow: hidden;
  background: #272727;
  list-style: none;
  padding-right: 1rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.nav-menu.open {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.nav-menu__item {
  padding: 1.5rem 0;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #ff652f;
}
.nav-menu__item.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.nav-menu__item.active > a {
  color: #ff652f;
}
.nav-menu__link {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 300;
}
.nav-menu__link:hover {
  color: #ff652f;
}

.nav-menu__item:nth-child(1) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.nav-menu__item:nth-child(2) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.nav-menu__item:nth-child(3) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.nav-menu__item:nth-child(4) {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
}

.about {
  padding-bottom: 2.25rem;
}
.about__bio-image {
  height: 60vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("/img/model-1.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("/img/model-1.jpg") center top;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__bio-image p {
  margin-bottom: 1.5rem;
}
.about__bio {
  width: 80%;
  text-align: center;
  margin-bottom: 2.5rem;
}
.about__bio .text-secondary {
  padding-bottom: 1.5rem;
  font-size: 3rem;
}
.about__bio .btn {
  background: #ffffff;
  color: #ff652f;
  border: 2px solid #ffffff;
  padding: 0.8rem 1.2rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.about__bio .btn:hover {
  background: transparent;
  color: #ffffff;
}
.about__bio .skill-text {
  color: #ff652f;
}
.about__bio .skill-para {
  margin-bottom: 3rem;
}
.about .jobs {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
.about .jobs__job {
  background: #414141;
  padding: 0.75rem;
  border-bottom: 3px solid #ff652f;
}
.about .jobs__job h2, .about .jobs__job h3 {
  margin: 0.75rem 0;
}
.about .jobs__job h6 {
  margin: 0.3rem 0 0.6rem;
  font-weight: 400;
  font-size: 1rem;
  color: #ffb195;
}
.about .jobs__job p {
  font-size: 0.9rem;
}
.about p {
  line-height: 1.6;
}

@media only screen and (min-width: 992px) {
  .about footer .social-icons {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about footer .copy-text {
    -webkit-transform: rotate(90deg) translate(-7rem, -7rem);
            transform: rotate(90deg) translate(-7rem, -7rem);
  }
}
.projects {
  padding-bottom: 2rem;
}
.projects__bio-image {
  height: 40vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/model-1.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg") center top;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.projects__bio-image .text-secondary {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  color: #ffffff;
}
.projects__bio-image h1 {
  font-size: 2.2rem;
  padding: 2rem;
  color: #ff652f;
  display: inline;
}
.projects__items {
  width: 70vw;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 6px;
}
.projects__item {
  width: 100%;
}
.projects__item h2 {
  color: #ff652f;
  font-weight: 700;
  font-size: 1.6rem;
}
.projects__item h3 {
  color: #272727;
  font-size: 1rem;
  margin: 1.6rem 0 0;
}
.projects__item h3 span {
  background: #ffb195;
  padding: 2px 10px;
  border-radius: 8px;
  margin-right: 10px;
  font-size: 0.9rem;
}
.projects__item p {
  color: #272727;
  font-size: 0.85rem;
  margin: 1.5rem 0;
  line-height: 1.4;
}
.projects .btn {
  background: transparent;
  color: #ff652f;
  border-color: #ff652f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 6px;
  padding: 6px 14px;
  border-width: 2px;
  border-style: solid;
  font-size: 0.88rem;
  letter-spacing: 0.5px;
}
.projects .btn .fa-external-link {
  margin-left: 2px;
}
.projects .btn:hover {
  background: #ff652f;
  color: #ffffff;
}
.projects .btn:hover .fa-external-link {
  color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.projects .fa-angle-double-right {
  margin-left: 2px;
}

@media only screen and (min-width: 992px) {
  .projects footer .social-icons {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects footer .copy-text {
    -webkit-transform: rotate(90deg) translate(-7rem, -7rem);
            transform: rotate(90deg) translate(-7rem, -7rem);
  }
}
.contact {
  height: 100%;
  padding-top: 15vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.9)), to(rgba(39, 39, 39, 0.3))), url("../img/model-1.jpg") center top;
  background: linear-gradient(to right, rgba(39, 39, 39, 0.9), rgba(39, 39, 39, 0.3)), url("../img/model-1.jpg") center top;
  background-size: cover;
}
.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.contact__list {
  font-size: 1.5rem;
  width: 900px;
  max-width: 90%;
  margin: 2rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  padding-bottom: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__add > div {
  margin-bottom: 2rem;
}
.contact__add .text-secondary {
  font-size: 1.2rem;
  padding-top: 10px;
  font-weight: 400;
}
.contact .contact-form {
  background: #ffffff;
  border-radius: 10px;
  padding: 1.8rem 2rem;
}
.contact .contact-form h2 {
  color: #272727;
  font-size: 1.5rem;
  font-weight: 600;
}
.contact .contact-form input, .contact .contact-form textarea {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  background: #f5f5f5;
  color: #000;
  padding: 16px 14px;
  border: 0;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
}
.contact .contact-form button {
  outline: none;
  border: 0;
  background: #ff652f;
  color: #ffffff;
  padding: 12px 18px;
  font-size: 1rem;
  width: 100%;
  margin: 2rem auto 0;
  text-align: center;
  display: block;
  text-transform: uppercase;
  border-radius: 4px;
  border: 2px solid #ff652f;
  cursor: pointer;
}
.contact .contact-form button:hover {
  background: transparent;
  color: #ff652f;
}
.contact .social-icons {
  position: fixed;
  margin-top: 2rem;
}

@media screen and (max-width: 920px) {
  main .social-icons {
    position: relative;
    text-align: center;
  }
  main footer {
    position: inherit;
    text-align: center;
  }
  main .home {
    padding-top: 12vh;
  }
  main .home__name {
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  main .home h2 {
    font-size: 1.2rem;
  }
  main .home h3 {
    font-size: 0.9rem;
  }
  .about__bio-image {
    padding-top: 12vh;
    height: 100%;
  }
  .about .jobs {
    width: 75vw;
  }
  .about footer {
    position: inherit !important;
    padding-top: 4rem !important;
  }
  .about footer .social-icons {
    left: 0;
  }
  .projects__items {
    width: 90vw;
  }
  .projects__items h3 {
    font-size: 0.9rem;
  }
  .projects footer {
    position: inherit !important;
    padding-top: 4rem !important;
  }
  .projects footer .social-icons {
    left: 0;
  }
  .projects .text-secondary {
    text-align: center;
  }
  .projects__bio-image {
    padding-top: 5rem;
    height: 100%;
  }
  .projects__bio-image .text-secondary {
    line-height: 1.5;
  }
  footer {
    left: 0;
    right: 0 !important;
  }
  .contact .copy-text {
    text-align: right;
  }
  .contact .text-secondary {
    line-height: 1.6;
  }
}
@media screen and (max-width: 767px) {
  main .home {
    padding-top: 12vh;
  }
  .h-btn {
    margin-top: 1rem;
    font-size: 0.8rem !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .projects__items {
    grid-template-columns: 1fr;
  }
  .projects__bio-image .text-secondary {
    font-size: 1.2rem;
  }
  .contact {
    overflow: auto;
  }
  .contact__list {
    grid-template-columns: 1fr !important;
    width: 90vw;
    text-align: center;
  }
  .contact-form {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
  }
  .contact footer, .contact .social-icons {
    position: inherit;
  }
  .contact .social-icons {
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 480px) {
  main .home {
    padding-top: 25vh;
  }
  .h-btn {
    padding: 8px 10px !important;
  }
  .about .jobs__job h2, .about .jobs__job h3 {
    line-height: 1.5;
  }
  .projects__items {
    padding: 1.5rem 1rem 1.5rem;
  }
  .projects__items h3 {
    line-height: 26px;
  }
  .contact .social-icons {
    margin-top: 0;
  }
}
body {
  background-color: #272727;
  height: 100vh;
  line-height: 1;
  width: 100%;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  font-weight: 400;
}

.text-secondary {
  color: #ff652f;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  z-index: 2;
  width: 100%;
  padding: 0.975rem;
}

main {
  width: 100%;
  height: 100%;
}
main .social-icons {
  bottom: 1rem;
  left: 1rem;
}
main .social-icons a {
  padding: 0.4rem;
  font-size: 1.4rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
main .social-icons a:hover {
  color: #ff652f;
}

footer {
  font-size: 0.81rem;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.h-btn {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 6px;
  padding: 8px 14px;
  border-width: 2px;
  border-style: solid;
  font-size: 0.96rem;
  letter-spacing: 0.5px;
  margin-bottom: 2rem;
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
  margin-left: 14px;
  margin-right: 14px;
}
.h-btn:hover {
  background: #ffffff;
  color: #ff652f;
}/*# sourceMappingURL=main.css.map */