$primary-color: #272727;
$secondary-color: #ff630b;
$white: #ffffff;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$base-padding: 0.75rem;
$base-margin: 0.75rem;

@mixin media-md{
    @media screen and (max-width:920px){
        @content;
    }
}
@mixin media-sm{
    @media screen and (max-width:767px){
        @content;
    }
}
@mixin media-xs{
    @media screen and (max-width:480px){
        @content;
    }
}
