@import 'config';
@import 'mixins';
@import 'utilities';
@import 'home';
@import 'menu';
@import 'about';
@import 'projects';
@import 'contact';
@import 'responsive';


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: $primary-color;
    height: 100vh;
    line-height: 1;
    width: 100%;
    color: set-text-color($primary-color);
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    font-weight: 400;
}

.text-secondary{
    color: $secondary-color;
}
a{
    color: set-text-color($primary-color);
    text-decoration: none;
}

header{
    z-index: 2;
    width: 100%;
    padding: $base-padding * 1.3;
}

main{
    width: 100%;
    height: 100%;

    .social-icons{
        bottom: 1rem;
        left: 1rem;

        a{
            padding: 0.4rem;
            font-size: 1.4rem;
            @include transition-ease;
            
            &:hover{
                color: $secondary-color;
            }
        }
    }

}

footer{
    font-size: 0.81rem;
    bottom: 0.4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color: set-text-color($primary-color);
}
img{
    max-width: 100%;
    height: auto;
}
.h-btn{
    @include main-button;
    margin-left: 14px;
    margin-right: 14px;
  }

  .WhatsAppIcons{
    background-color: #30cd45;
    width: 34px;
    height: 34px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .WhatsAppIcons{
    margin-bottom: 10px;
    &:hover{
        color: $white;
    }
  }
  footer{
    .social-icons-right{
        
        .fa{
            margin: 0 6px;
            font-size: 1.4rem;
        }
      
    }
  }

  .sticky{
    background: linear-gradient(to right, rgb(105 100 100), rgb(105 102 102 / 90%));
  }